<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/guest.css" />
  <script src="/scripts/script.js" defer></script>
  <title>Guest Access</title>
</head>
<body>
  <header></header> <!-- Header dynamically loaded here -->

  <main>
    <div class="container">
      <H1>UNDER CONSTRUCTION</H1>
      br
      <h2>Welcome, Guest</h2>
      <p>You are now browsing as a guest user without logging in.</p>
    </div>
  </main>
</body>
</html>
