<header class="header">
    <div class="logo">
      <img src="/assets/images/LOGO.jpg" alt="Wmsu Logo">
      <h1>iWMSU : UniReach</h1>
    </div>
    <div class="search-box">
      <input class="box" type="text" id="search" name="query" placeholder="Search for post..." required>
      <button>
        <img src="/assets/images/Search.svg" alt="Search">
      </button>
    </div>
    <div class="navigation">
      <div class="create-new">
        <button>+ Create New</button>
      </div>
      <a href="#"><img src="/assets/images/Home.svg" alt="">Home</a>
      <a href="#"><img src="/assets/images/Light On.svg" alt="">Suggestions/Concerns</a>
      <a href="#"><img src="/assets/images/Lost and Found.svg" alt="">Lost and Found</a>
    </div>
  </header>
  