<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/index.css" />
  <script src="/scripts/script.js" defer></script>
  <title>Login</title>
</head>
<body>
  <header></header> 
  <main>
    <div class="container">
      <div class="content">
          <div class="text">
              <h1>Log in</h1>
              <p>Stay updated on your academic life </p>
          </div>
          <div class="input-box">
            <button class="login-cut"><img src="/assets/images/LOGO.jpg" alt="">Continue with MyWMSU</button>
            <p class="inbetween">or</p>
              <input type="text" placeholder="Email/ID Number">
              <input type="password" placeholder="Password">
              <button class="login-button">Log in</button>
          </div>
          <div class="links">
              <a href="/views/signup/signup.html" class="signup-link">Create an Account</a>
              <a href="/views/forgotpassword/fg.html" class="forgot-password-link">Forgot Password?</a>
              <a href="/views/guest/guest.html" class="guest-link">Continue as Guest</a>
          </div>
      </div>
  </div>
  </main>
</body>
</html>
