<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="/scripts/script.js" defer></script>
    <title>Iwmsu</title>
</head>
<body>
    <header></header>
    <main>
        <div class="container">
            <div class="content">
                <button class="Back">
                    <img src="/assets/images/Back (1).svg" alt="">
                    <h3>Back</h3>
                </button>
                <div class="text">
                    <h1>Log in</h1>
                    <p>Log in with your myWMSU account</p>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Account Number">
                    <input type="password" placeholder="Password">
                    <button class="login-button">Log in</button>
                </div>
                <div class="links">
                    <a href="/views/signup/signup.html" class="signup-link">Sign Up</a>
                    <a href="/views/forgot-password/forgot-password.html" class="forgot-password-link">Forgot Password?</a>
                    <a href="/views/guest/guest.html" class="guest-link">Continue as Guest</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
