@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;500;600&display=swap');

:root {
    --primary-color: #FF4444;
    --secondary-color: #ffffff;
    --primary-font-size: 28px;
    --secondary-font-size: 22px;
    --font-family-ibm-plex: "IBM Plex Sans", sans-serif;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"IBM Plex Sans", sans-serif; ;
}

main{
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove default margin */
    padding: 80px 0px;
  }
  

.container{
    margin: 10% 20%;
    display: flex;
    width: 450px;
    height: 350px;
    line-height: 44px;
    padding: 4px 40px;
    border: 1px solid ;
  }

  

  .text{
     margin:20px 0px;
  }

 

  .text h1{
    font-weight: var(--font-weight-semibold);
    font-size: 28px;
  }


  .text p{
    font-weight: var(--font-weight-light);
    font-size: 20px;
  }






.input-box {
    width: 100%;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .input-box input,button {
    border: 1px solid;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .input-box ::placeholder{
      font-weight: var(--font-weight-extra-light);
      font-size: 15px;
      line-height: 16px;
  }
  
  .buttons{
    display: flex;
    gap: 10px;
    justify-content: end
  }

  .login{
    display: flex;
    justify-content: center;
    padding: 10px;
    border: none;
    width:100px;
  }

 .button2{
     background-color: var(--primary-color);
     color: var(--secondary-color);
  }
